<header id="top" class="header" style="background">
  <div class="text-vertical-center" style="margin=200px">
    <div class="semitransparentbox">      
    <h1>Dropping Toppings</h1>
    <h2>Website is currently getting baked, so stare at this spinning pizza until it's ready.</h2>
    <img src="https://github.com/Dgilliams/droppingtoppings/blob/master/img/Pizza.gif?raw=true" margin="auto" width="50%"/>
    <h3>Delicious food paired with a selection of banging tracks.</h3>
    <h1>Dropping Soon</h1>
    </div>
  </div>
</header>
