
  <ul id="recommendation-list" class="section-info" tabindex="-1">
    <li id="ember389" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/joalbright/" id="ember390" class="pv-recommendation-entity__member ember-view">
  <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Jo Albright" height="56" width="56" src="https://media.licdn.com/dms/image/C4E03AQF0nBppOf5aqg/profile-displayphoto-shrink_100_100/0?e=1560384000&amp;v=beta&amp;t=LbG4408u50uuEbcMJEsN13gPlR8LVcpP7BSXTwsDrPc">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">Jo Albright</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Designer . Developer . Nerd</p>
        <p class="t-12 t-black--light t-normal">
          June 15, 2018, Jo worked with Damien in different groups
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember392" class="ember-view">    <span class="lt-line-clamp__line">Damien bleeds passion and excitement in every project he works</span>
      <span class="lt-line-clamp__line">on. Not only does he look to the future, he also keeps himself</span>
      <span class="lt-line-clamp__line">relevant with current standards and technologies that are stable.</span>
      <span class="lt-line-clamp__line">You will probably find him lost in VR world building a wild</span>
      <span class="lt-line-clamp__line lt-line-clamp__line--last">
      experience. Look to him for AR, VR, and mobile app projects.<!----></span>

<!----> </div>

  </blockquote>
</div>
</li>
    <li id="ember394" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/david-teal/" id="ember395" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="David Teal" height="56" width="56" src="https://media.licdn.com/dms/image/C4E03AQG09vjDd7QDrg/profile-displayphoto-shrink_100_100/0?e=1560384000&amp;v=beta&amp;t=J3EFECgdT86A1jFu1H4lvjN_2M9_ywo_rqbHFoM9QPE">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">David Teal</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">IT Solution Delivery Leader | Ideas &amp; Innovation | Rethinking Traditional Assumptions | Product, Project &amp; Program Mgmt</p>
        <p class="t-12 t-black--light t-normal">
          April 18, 2018, David managed Damien directly
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember397" class="ember-view">  <span class="lt-line-clamp__raw-line">Damien is a top-notch developer, exceptionally creative, and dedicated to his trade and craft.

He has demonstrated this across multiple applications, proof of concepts, and languages.  He has done a fantastic job of researching issues to their root causes.  He is tenacious and has translated problems into practical solutions.  This included working on multiple threads at the same time along with resolving several product and environmental challenges.  He maintains a positive attitude and his results are outstanding.

Damien is innovative and naturally inquisitive.  He has shown the ability to incorporate these into our products and equally important into the culture of our folks.  He is currently championing activities related to our research into virtual and augmented reality.

He has mentored and coached other developers with great success.  He does well at understanding their current skill set and developing ways to expand and challenge these.  He is patient and someone others enjoy working with.

Comments from peers: "always extremely motivated, engaged in his work, and loves what he does.", "has stepped up in the absence of any other Android developers to handle all he can/could.", "has become an outstanding Android developer", "Biggest contribution was definitely working on multiple projects at the same time."
</span>

 </div>

  </blockquote>
</div>
</li>
    <li id="ember518" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/agoeden12/" id="ember519" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Andrew Goeden" height="56" width="56" src="https://media.licdn.com/dms/image/C4E03AQE379re3-Yl-w/profile-displayphoto-shrink_100_100/0?e=1560384000&amp;v=beta&amp;t=Y3iyO-1eYepIw9PsBhMwyKrPkrxA-xMFtMQAO6OyahI">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">Andrew Goeden</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">State Farm Enterprise Technology Intern- Android Developer | Lanier High Robotics Club President FRC Team #4509</p>
        <p class="t-12 t-black--light t-normal">
          March 25, 2018, Andrew was a client of Damien’s
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember521" class="ember-view">  <span class="lt-line-clamp__raw-line">Damien has been my mentor, in Android development, for a year now and it has certainly affected me in a great way. He helps by giving tips on styles of coding and referring books for me to read that boost my skills in programming and efficiency. Damien also helped me by looking over my code and recommending updates and ways of cleaning it to be more readable and efficient. His mentoring has also helped me in ways outside of programming, for instance he introduced me to agile methodology which has made me a more productive student overall.</span>

 </div>

  </blockquote>
</div>
</li>
    <li id="ember523" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/andrew-chan-99b7b6126/" id="ember524" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Andrew Chan" height="56" width="56" src="https://media.licdn.com/dms/image/C5103AQHvhAiWIsLd5w/profile-displayphoto-shrink_100_100/0?e=1560384000&amp;v=beta&amp;t=BFMKJF1PfqwdW3wGCIQVQR6FnuBXqHFtUBgBDboqESg">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">Andrew Chan</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Software Developer - Mobile at State Farm ®</p>
        <p class="t-12 t-black--light t-normal">
          March 25, 2018, Damien was senior to Andrew but didn’t manage directly
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember526" class="ember-view">  <span class="lt-line-clamp__raw-line">Damien has been my mentor at State Farm since I arrived about 5 months ago. He has been an amazing mentor, teaching me many skills including but not limited to: general Android tips, advice on clean coding practices, how to conduct meetings, creating build variants for testing and production, etc. His advice and tips have helped me improve immensely since I have arrived at State Farm. As a mentor, he is very patient and very effective at explaining concepts. If I have any questions, I can confidently count on Damien to provide help or to point me in the right direction to solve my issues.

Not only is Damien a fantastic mentor, but also a great role model, Damien has inspired me to become a better developer and to never stop improving. He has endless drive and ambition for Android Development as well as in other technologies like 3D modeling/animation, VR/AR, etc. He holds his work to only the highest standards, making sure that his code is impeccable, clean, without errors/bugs, and easy to read and understand.

Technical achievements and skills aside, Damien is also a great team member. He is always eager to help anyone in need. Damien is always full of energy and able to keep team morale high!

Damien is invaluable as a mentor, employee and team member. I cannot say enough about how outstanding Damien is as a mentor and co-worker.</span>

 </div>

  </blockquote>
</div>
</li>
    <li id="ember528" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/coriellerby/" id="ember529" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Cori Ellerby" height="56" width="56" src="https://media.licdn.com/dms/image/C4D03AQHa-EI15PuyvQ/profile-displayphoto-shrink_100_100/0?e=1560384000&amp;v=beta&amp;t=8hb2bb1fAk0Wl8S_rY27rhfDNLfw_Yq5fxI-rRgnrWs">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">Cori Ellerby</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Business System Analyst at Fiserv</p>
        <p class="t-12 t-black--light t-normal">
          February 21, 2018, Cori worked with Damien in different groups
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember531" class="ember-view">    <span class="lt-line-clamp__line">Damien is very detail oriented and he shows a great interest in</span>
      <span class="lt-line-clamp__line">getting his projects done correctly, on time and within the budget.</span>
      <span class="lt-line-clamp__line lt-line-clamp__line--last">
      He goes above and beyond to satisfying his clients needs.<!----></span>

<!----> </div>

  </blockquote>
</div>
</li>
    <li id="ember533" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/traci-rowe-962901140/" id="ember534" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl ghost-person loaded" alt="Traci Rowe" height="56" width="56" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">Traci Rowe</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Product Owner at State Farm Insurance</p>
        <p class="t-12 t-black--light t-normal">
          January 24, 2018, Damien worked with Traci in the same group
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember536" class="ember-view">  <span class="lt-line-clamp__raw-line">Damien is a professional senior Android developer who produces quality, creative, cutting edge, fun and user-centric work in a demanding agile environment.  I’ve received well thought out, test ready work while working as a tester on agile teams with him for 3 years.  He is engaged in the team helping to prevent and put out fires.  He is also a great team player who is passionate about learning.  Damien knows a lot about IT and is a catalyst for innovations .  He is always willing to teach others and does very often.  He is an asset to the team!</span>

 </div>

  </blockquote>
</div>
</li>
    <li id="ember538" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/amberharrispdx/" id="ember539" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Amber Harris" height="56" width="56" src="https://media.licdn.com/dms/image/C4E03AQE3ND5vk_Vwug/profile-displayphoto-shrink_100_100/0?e=1560384000&amp;v=beta&amp;t=TnrzP3kYtw9jMRbGOo4Y13OTtNGmRm4afCcU5G7QPRA">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">Amber Harris</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Technical Product Lead at Jaguar Land Rover Innovation Labs</p>
        <p class="t-12 t-black--light t-normal">
          January 5, 2018, Damien worked with Amber in the same group
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember541" class="ember-view">  <span class="lt-line-clamp__raw-line">As a Product Owner I’ve worked with Damien on a SAFe Agile team for 2 years developing several apps for Agents, Team Members, and Field Leadership. Consistently Damien not only produces quality code in an agile environment with quick turn-around, but he goes above and beyond to add detail, beautiful design, and innovative out-of-the box thinking that elevates our suite of apps to the next level. He is the go-to engineer I think of when any special project arisse that requires work with emerging trends, or think tanks to cultivate the next generation of FinTech evolution. I couldn’t give Damien a higher recommendation; any team looking to elevate their Digital/Innovation department would be lucky to have him. </span>

 </div>

  </blockquote>
</div>
</li>
    <li id="ember566" class="pv-recommendation-entity ember-view"><div class="pv-recommendation-entity__header">
<a data-control-name="recommendation_details_profile" href="https://www.linkedin.com/in/hexbus/" id="ember567" class="pv-recommendation-entity__member ember-view">    <img class="lazy-image EntityPhoto-circle-4 fl loaded" alt="Jon Guidry, M.S." height="56" width="56" src="https://media.licdn.com/dms/image/C4E03AQGKRZJ88VJhow/profile-displayphoto-shrink_100_100/0?e=1560384000&amp;v=beta&amp;t=rL7AEGdjxb4wLhUC0NeF7_i72mVpn99PvOxrjlhsrHc">


    <div class="pv-recommendation-entity__detail">
      <h3 class="t-16 t-black t-bold">Jon Guidry, M.S.</h3>
      <p class="pv-recommendation-entity__headline t-14 t-black t-normal pb1">Technical process optimizer, Infrastructure operations and architecture, Maker, and Innovator</p>
        <p class="t-12 t-black--light t-normal">
          November 7, 2017, Damien worked with Jon in the same group
        </p>
    </div>
</a></div>
<div class="pv-recommendation-entity__highlights">
  <blockquote class="pv-recommendation-entity__text relative">
      <div id="ember569" class="ember-view">  <span class="lt-line-clamp__raw-line">Damien is a very proficient Android developer; working with coworkers over the entire development cycle.  Damien is very engaged and proficient with helping with requirements at the start of a project, the actual coding and debugging of the app and associated back end services, and with any post-deployment issues that happen to crop up.  He is very open to feedback, and is a continuous learner.  I enjoy working with Damien, and enjoy his passion and dedication towards making quality apps for our company.
</span>

 </div>

  </blockquote>
</div>
</li>
</ul>
