.pizza-card {
  display: block;
  position: relative;
  width: 100%;
  min-height: 250px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  margin-bottom: 2.25rem;
  border-bottom: 0;
  -webkit-transition: -webkit-box-shadow .25s ease;
  transition: -webkit-box-shadow .25s ease;
  transition: box-shadow .25s ease;
  transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

.pizza-card:hover,.pizza-card:focus {
  border-bottom: 0;
  -webkit-box-shadow: 0 2px 40px 0 rgba(153,155,168,0.3);
  box-shadow: 0 2px 40px 0 rgba(153,155,168,0.3);
}

@media only screen and (min-width: 48em) {
  .pizza-card {
    width: 100%;
  }

  .pizza-card:last-of-type,.pizza-card:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 75em) {
  .pizza-card {
    width: 100%;
  }

  .pizza-card:nth-child(2n+2) {
  }

  .pizza-card:last-of-type,.pizza-card:nth-child(3n+3) {
    margin-right: 0;
  }
}

.pizza-card__label {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
}

.pizza-card__inner {
  display: block;
  position: relative;
  padding: 0rem 1.25rem 0.625rem;
  width: 100%;
  color: #838c8d;
  border-bottom: 0;
}

.pizza-card__inner:focus,.pizza-card__inner:hover {
  color: #838c8d;
  border-bottom: 0;
}

.pizza-card__header {
  margin-bottom: 0.75rem;
}

.pizza-card__meta {
  font-size: 0.875rem;
}

.pizza-card__thumb {
  margin: 0;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.pizza-card__thumb::after {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

.pizza-card__thumb>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
}
